.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0%;
  padding: 0%;
}

.header {
  flex: 30%;
  background-color: rgb(170, 168, 168);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .inputContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.header input {
  height: 40px;
  border: none;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  padding-left: 10px;
  font-size: 17px;
  border: 1px solid grey;
}

.header .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  width: 100px;
  height: 155px;
  border: none;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  padding-left: 10px;
  cursor: pointer;
  margin-left: 5px;
  color: black;
  border: 1px solid rgb(105, 104, 104);
}
.header .css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover {
  color: black;
  border: 1px solid rgb(66, 59, 59);
}
.todoList {
  flex: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}

.task {
  width: 92vw;
  height: 10vh;
  display: flex;
  color: white;
  margin: 15px;
}

.task .content {
  flex: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task .content span {
  display: grid;
  overflow: auto;
  padding-left: 2%;
  place-items: center;
  border: 1px solid white;
  width: 100%;
  height: 100%;
  font-size: 18px;
  border-right: none;
  background-color: rgb(170, 168, 168);
}

.task button {
  margin-left: 1px;
  flex: 20%;
  height: 100%;
  border: none;
  background-color: tomato;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: white;
  cursor: pointer;
}
.taskName {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.textInput {
  margin-bottom: 5px!important
}